@tailwind base;
@tailwind components;
@tailwind utilities;

.container_to_registration {
  width: 100%;
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

.containerb {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* .cta_bg_img {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(./assets/img/Cta_bg.png);
} */
@media only screen and (min-width: 670px) {
  .cta_bg_img {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url(./assets/img/Cta_bg.png);
  }
}

li .active {
  color: #ff8a00;
}
